<!DOCTYPE HTML>
<html>

<head>
    <title>ESPACIO</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="subpage">

     <!-- Header -->
     <header id="header">
        <div class="inner">
			<a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="45" height="43"></a>
            <nav id="nav"><a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('document') }}">Documentation</a>
                <a href="{{ url_for('contactus') }}">Contact Us</a>
                <a href="{{ url_for('aboutus') }}">About Us</a>
                <a href="{{ url_for('reports') }}">Reports</a>
                <a href="{{ url_for('account') }}">Account</a>
                <a href="{{ url_for('project') }}">Project</a> 
                <!--  <a href="{{ url_for('signinindex') }}">Sign In</a>
                <a href="{{ url_for('signupindex') }}">Sign Up</a>
                <a href="{{ url_for('admindashboard') }}">Admin Dashboard</a> -->
            </nav><a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header><!-- Banner -->
    <section id="banner">
        <h1>About Us</h1>
    </section>
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <section id="three" class="wrapper">
                <div class="inner">
                    <header class="align-center">
                        <h2>ESPACIO : Detection, Tracking, Collision Prediction of Space Debris </h2>
                    </header>
                    <p> Welcome to Espacio, your go-to platform for space debris detection, tracking, and collision
                        reduction. In a time where space debris poses a growing threat, Espacio is dedicated to ensuring
                        the safety of space missions. We use advanced technology to identify and track debris, providing
                        real-time data for space agencies to navigate safely. Join us in raising awareness and finding
                        sustainable solutions for a cleaner and safer space environment. Explore the cosmos responsibly
                        with Espacio.

                    </p>
                    <div class="flex flex-2"><center>
                        <article>
                            <div class="image fit">
                                <img src="{{ url_for('static', filename='images/aboutus.png') }}" alt="Pic 01" width="576" height="196">
                            </div>
                            <footer><a href="#" class="button special">More</a>
                            </footer>
                        </article></center>
                    </div>
                </div>
            </section>
        </div>
    </section><!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                    <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyright">
        ESPACIO : Detecting, Tracking, and Collision Prediction of Space Debris
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
</body>

</html>