<!DOCTYPE HTML>
<html>

<head>
	<title>ESPACIO</title>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="subpage">

	 <!-- Header -->
	 <header id="header">
        <div class="inner">
			<a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="45" height="43"></a>
            <nav id="nav"><a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('document') }}">Documentation</a>
                <a href="{{ url_for('contactus') }}">Contact Us</a>
                <a href="{{ url_for('aboutus') }}">About Us</a>
                <a href="{{ url_for('reports') }}">Reports</a>
                <a href="{{ url_for('account') }}">Account</a>
                {% comment %} <a href="{{ url_for('signinindex') }}">Sign In</a> {% endcomment %}
                {% comment %} <a href="{{ url_for('signupindex') }}">Sign Up</a> {% endcomment %}
                <a href="{{ url_for('project') }}">Project</a>
                {% comment %} <a href="{{ url_for('admindashboard') }}">Admin Dashboard</a> {% endcomment %}
            </nav><a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header><!-- Banner -->
	<section id="banner">
		<h1>Contact Us</h1>
	</section>
	<section id="main" class="wrapper">
		<div class="inner">

			<!-- Form -->
			<form method="post" action="#">
				<div class="row uniform">
					<div class="6u 12u$(xsmall)">
						<input type="text" name="name" id="name" value="" placeholder="Name">
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="email" name="email" id="email" value="" placeholder="Email">
					</div>
					<!-- Break -->
					<div class="12u$">
						<div class="select-wrapper">
							<select name="category" id="category">
								<option value="">- Category -</option>
								<option value="1">Manufacturing</option>
								<option value="1">Shipping</option>
								<option value="1">Administration</option>
								<option value="1">Human Resources</option>
							</select>
						</div>
					</div>
					<!-- Break -->
					<div class="4u 12u$(small)">
						<input type="radio" id="priority-low" name="priority" checked><label for="priority-low">Low
							Priority</label>
					</div>
					<div class="4u 12u$(small)">
						<input type="radio" id="priority-normal" name="priority"><label for="priority-normal">Normal
							Priority</label>
					</div>
					<div class="4u$ 12u$(small)">
						<input type="radio" id="priority-high" name="priority"><label for="priority-high">High
							Priority</label>
					</div>
					<!-- Break -->
					<div class="6u 12u$(small)">
						<input type="checkbox" id="copy" name="copy"><label for="copy">Email me a copy of this
							message</label>
					</div>
					<div class="6u$ 12u$(small)">
						<input type="checkbox" id="human" name="human" checked><label for="human">I am a human and
							not a
							robot</label>
					</div>
					<!-- Break -->
					<div class="12u$">
						<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
					</div>
					<!-- Break -->
					<div class="12u$">
						<ul class="actions">
							<li><input type="submit" value="Send Message"></li>
							<li><input type="reset" value="Reset" class="alt"></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="flex">
				<ul class="icons">
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
					<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
					<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
				</ul>
			</div>
		</div>
	</footer>
	<div class="copyright">
		ESPACIO : Detecting, Tracking, and Collision Prediction of Space Debris
	</div>

	<!-- Scripts -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	
</body>

</html>