<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Full Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="subpage">
    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo"><img src="images/logo.png" alt="logo" width="45" height="43"></a>
            <nav id="nav">
                <a href="index.html">Home</a>
                <a href="document.html">Documentation</a>
                <a href="contactus.html">Contact Us</a>
                <a href="aboutus.html">About Us</a>
                <a href="reports.html">Reports</a>
                <a href="account.html">Account</a>
                <a href="project.html">Project</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <section id="banner">
        <h1>Full Report</h1>
    </section>

    <section id="main" class="wrapper">
        <div class="inner">
            <form method="post" action="#">
                <center>
                    <h3>Classification and Detection</h3>
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <span>Number of Detected Debris: {{ total_objects }}</span>
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <span>Average Size :</span>
                        </div>
                        <div class="6u 12u$(xsmall)">
                            <span>Average Velocity :</span>
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <span>Coordinates :</span>
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <span>Time Interval :</span>
                        </div>
                    </div>
                </center>
            </form>
        </div>
    </section>

    <!-- Additional sections for Tracking Trajectories and Collision Prediction -->

    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                    <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <div class="copyright">ESPACIO: Detecting, Tracking, and Collision Prediction of Space Debris</div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
