<html>

<head>
    <title>Home Page</title>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
	 <!-- Header -->
	 <header id="header">
        <div class="inner">
			<a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="45" height="43"></a>
            <nav id="nav"><a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('documentation') }}">Documentation</a>
                <a href="{{ url_for('contactus') }}">Contact Us</a>
                <a href="{{ url_for('aboutus') }}">About Us</a>
                <a href="{{ url_for('reports') }}">Reports</a>
                <a href="{{ url_for('account') }}">Account</a>
                <a href="{{ url_for('project') }}">Project</a>
            </nav><a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

	<section id="banner">
		<h1>Welcome to ESPACIO!</h1>
		<p>Your Ultimate Solution for Debris Detection, Tracking, and Collision Prediction!
		</p>
	</section>

	<section id="two" class="wrapper style1 special">
		<div class="inner">
			<header>
				<h2>EXPLORE MORE ABOUT SPACE!</h2>
			</header>
			<div class="flex flex-4">
				<div class="box person">
					<div class="image round">
						<img src="{{ url_for('static', filename='images/HumanInSpace.png') }}" alt="Person 1" width="168" height="168">
					</div>
					<h3>Humans In Space</h3>
					<a href="https://www.nasa.gov/humans-in-space/" class="button special">More</a>
				</div>
				<div class="box person">
					<div class="image round">
						<img src="{{ url_for('static', filename='images/Missions.png') }}" alt="Person 2" width="168" height="168">
					</div>
					<h3>Missions</h3>
					<a href="https://www.nasa.gov/missions/" class="button special">More</a>
				</div>
				<div class="box person">
					<div class="image round">
						<img src="{{ url_for('static', filename='images/NasaHistory.png') }}" alt="Person 3" width="168" height="168">
					</div>
					<h3>NASA History</h3>
					<a href="https://www.nasa.gov/history/" class="button special">More</a>
				</div>
				<div class="box person">
					<div class="image round">
						<img src="{{ url_for('static', filename='images/ValueOfNasa.png') }}" alt="Person 4" width="168" height="168">
					</div>
					<h3>Value of NASA</h3>
					<a href="https://www.nasa.gov/value-of-nasa/" class="button special">More</a>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer">
		<div class="inner">
			<div class="flex">
				<ul class="icons">
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
					<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
					<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
				</ul>
			</div>
		</div>
	</footer>

	<div class="copyright">ESPACIO : Detecting, Tracking, and Collision Prediction of Space Debris</div>

	<!-- Scripts -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	
</body>
</html>