<!DOCTYPE HTML>
<html>

<head>
    <title>ESPACIO</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        .container {
            max-width: 100%;
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body class="subpage">

     <!-- Header -->
     <header id="header">
        <div class="inner">
			<a href="{{ url_for('homeindex') }}" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="45" height="43"></a>
            <nav id="nav"><a href="{{ url_for('homeindex') }}">Home</a>
                <a href="{{ url_for('document') }}">Documentation</a>
                <a href="{{ url_for('contactus') }}">Contact Us</a>
                <a href="{{ url_for('aboutus') }}">About Us</a>
                <a href="{{ url_for('reports') }}">Reports</a>
                <a href="{{ url_for('account') }}">Account</a>
                <a href="{{ url_for('signinindex') }}">Sign In</a>
                <a href="{{ url_for('signupindex') }}">Sign Up</a>
                <a href="{{ url_for('project') }}">Project</a>
                <a href="{{ url_for('admindashboard') }}">Admin Dashboard</a>
            </nav><a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header><!-- Banner -->
    <section id="banner">
        <h1>Reports</h1>
    </section>
    <br>
    <!-- Table Container -->
    <div class="table-wrapper">
        <!-- <table class="alt"> -->
        <!-- Table -->
        <div class="container">
            <table>
                <tr>
                    <th>Project Name</th>
                    <th>Date</th>
                    <th>Reports</th>
                    <th>Full Report</th>
                </tr>
                <tr>
                    <td>Trial 1</td>
                    <td>20/1/2024</td>
                    <td>Trial1-Report.pdf</td>
                    <td><a href="{{ url_for('fullreport') }}"><input type="button" value="Full Report"></a></td>
                </tr>
                <tr>
                    <td>Trial 2</td>
                    <td>27/1/2024</td>
                    <td>Trial2-Report.pdf</td>
                    <td><a href="{{ url_for('fullreport') }}"><input type="button" value="Full Report"></a></td>
                </tr>
                <tr>
                    <td>DetectingDebris</td>
                    <td>5/2/2024</td>
                    <td>DetectingDebris-Report.pdf</td>
                    <td><a href="{{ url_for('fullreport') }}"><input type="button" value="Full Report"></a></td>
                </tr>
                <tr>
                    <td>TrackingDebris</td>
                    <td>9/2/2024</td>
                    <td>TrackingDebris-Report.pdf</td>
                    <td><a href="{{ url_for('fullreport') }}"><input type="button" value="Full Report"></a></td>
                </tr>
            </table>
        </div>

    </div>
    <br>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                    <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyright">
        ESPACIO : Detecting, Tracking, and Collision Prediction of Space Debris
    </div>

    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/skel.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>